<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Omegron</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav>
        <div class="home">
            <a class="omegron-logo" th:href="@{/}">
                <img src="/images/logo.png" alt="Omegron Logo" class="logo-img"/>
                Omegron</a>
        </div>
        <div class="links">
            <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/">Action</a>
                    <a class="dropdown-item" href="/">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Something else here</a>
                </div>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">Login</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/register}">Register</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Logout</a>
            </li>
        </div>
    </nav>
</header>
<footer class="text-center footer-background footer-text fixed-bottom">&copy; Omegron 2024. All rights reserved.
    Developed by Kostadin Ivanov.
</footer>
</body>
</html>f