/* NAVBAR STYLES*/
.navbar {
     background-color: #343a40
}
.navbar .logo {
     max-height: 50px;
     padding-right: 100px;
}
.nav-item {
     font-size: large;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* INDEX STYLES*/
/* Default background style for index page */
body.index {
     background-image: url('/images/background-index.jpg');
     background-position: center center;
     background-position-y: 25%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #343a40;
}
/*Index page - container fluid*/ /*TODO:CHECK CONTAINER-FLUID*/
.container-fluid {
     position: relative;
     margin-top: 8em;
     margin-left: auto;
     margin-right: 8em;
     padding-bottom: 0.3em;
     border-radius: 12px;
     /*color: #5a6268;*/
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     color: #ffffff; /*Text of weather for example*/
     background-color: rgba(80, 83, 85, 0.8);
     max-width: 1440px;
     box-shadow: 0 4px 16px #3e4349;
}
/* LOGIN STYLES*/
/* Background style for login page */
body.login {
     background-image: url('/images/background-login.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #343a40;
}
.login-container {
     position: relative;
     margin-top: 20em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     color: #ffffff; /*Text color*/
     max-width: 700px;
     /*background-color: rgb(84 91 98 / 60%);*/
}

/*LOGIN and REGISTER BTNS*/
.primary-text {
     color: rgb(218, 218, 218);
     text-decoration-line: underline;
}
.primary-text:hover {
     color: rgb(165, 243, 69);
     text-decoration-line: underline;
}


/* REGISTER STYLES*/
/* Background style for register page */
body.register {
     background-image: url('/images/background-register.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     /*background-color: #343a40;*/
}
.register-container {
     position: relative;
     margin-top: 20em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 1000px;
     /*background-color: rgb(84 91 98 / 60%);*/
}

/*HOME PAGE*/
body.home {
     background-image: url('/images/background-home.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     /*background-color: #343a40;*/
}

.home-container {
     /*background-color: #343a40;*/
     background-color: rgb(84 91 98 / 80%);
     border-radius: 20px;
     color: #ffffff;
     margin-top: 8em;
     padding-bottom: 2em;
     text-align: center;
}

.quick-links {
     display: flex;
     justify-content: space-around;
     margin: 2em 0;
}

.quick-link {
     background-color: rgb(94, 138, 39);
     padding: 1em;
     border-radius: 10px;
     text-decoration: none;
     color: #ffffff;
     width: 30%;
     transition: background-color 0.3s;
}

.quick-link:hover {
     background-color: rgba(255, 255, 255, 1);
}

.notifications {
     background-color: rgb(94, 138, 39);
     padding: 2em;
     border-radius: 10px;
     margin-top: 2em;
}
/* ALL TRACTORS STYLES */
/* Background style for all tractors page */
body.all-tractors {
     background-image: url('/images/background-all-tractors.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #343a40;
}
.all-tractors-container {
     position: relative;
     margin-top: 8em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 1000px;
     /*background-color: rgb(84 91 98 / 40%);*/
}

/* ADD TRACTOR STYLES */
/* Background style for add tractor page */
body.add-tractor {
     background-image: url('/images/background-add-tractor.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     /*background-color: #343a40;*/
}
.add-tractor-container {
     position: relative;
     margin-top: 10em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 1000px;
     /*background-color: rgb(84 91 98 / 60%);*/
}

/* UPDATE TRACTOR STYLES */
/* Background style for update tractor page */
body.update-tractor {
     background-image: url('/images/background-update-tractor.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     /*background-color: #343a40;*/
}
.update-tractor-container {
     position: relative;
     margin-top: 10em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 1000px;
     /*background-color: rgb(84 91 98 / 60%);*/
}

/*TRACTOR DETAILS STYLES */
/* Background style for details page */
body.tractor-details {
     background-image: url('/images/background-tractor-details.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     /*background-color: #343a40;*/
}
.tractor-details-container {
     position: relative;
     margin-top: 10em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 1000px;
     /*background-color: rgb(84 91 98 / 60%);*/
}


/* ALL LANDLORDS STYLES */
/* Background style for all landlords page */
body.all-landlords {
     background-image: url('/images/background-all-landlords.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #343a40;
}
.all-landlords-container {
     position: relative;
     margin-top: 8em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 1000px;
     /*background-color: rgb(84 91 98 / 40%);*/
}

/* ADD LANDLORD STYLES */
/* Background style for add landlord page */
body.add-landlord {
     background-image: url('/images/background-add-landlord.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     /*background-color: #343a40;*/
}
.add-landlord-container {
     position: relative;
     margin-top: 10em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 1000px;
     /*background-color: rgb(84 91 98 / 60%);*/
}

/* UPDATE LANDLORD STYLES */
/* Background style for update landlord page */
body.update-landlord {
     background-image: url('/images/background-update-landlord.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     /*background-color: #343a40;*/
}
.update-landlord-container {
     position: relative;
     margin-top: 10em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 1000px;
     /*background-color: rgb(84 91 98 / 60%);*/
}

/*LANDLORD DETAILS STYLES */
/* Background style for details page */
body.landlord-details {
     background-image: url('/images/background-landlord-details.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     /*background-color: #343a40;*/
}
.landlord-details-container {
     position: relative;
     margin-top: 10em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 1000px;
     /*background-color: rgb(84 91 98 / 60%);*/
}

/* WEATHER STYLES */
/* Background style for weather page */
body.weather {
     background-image: url('/images/background-weather.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #343a40;
}

.weather-item:not(:last-child) {
     border-bottom: 1px solid #dee2e6;
     margin-bottom: 1rem;
     padding-bottom: 1rem;
}
.weather-container {
     position: relative;
     margin-top: 8em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     color: #ffffff; /*Text color*/
     max-width: 1080px;
     /*background-color: rgb(84 91 98 / 60%);*/
}
.weather-header {
     text-align: center;
     margin-bottom: 2rem;
}
.weather-details, .weather-days {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
.weather-item {
     margin: 1rem;
     padding: 1rem;
     border-radius: 10px;
     background-color: #6c6c6c;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
     flex: 1 1 300px;
     max-width: 300px;
}
.weather-item h6 {
     margin-bottom: 0.5rem;
     font-weight: bold;
}
.weather-item p {
     margin-bottom: 0.25rem;
}
.weather-days .weather-item {
     background-color: #41bdff;
}
.current-day {
     background-color: #1d4c1a !important;
}

/*PROFILE STYLES */
/* Background style for profile page */
body.profile {
     background-image: url('/images/background-profile.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     /*background-color: #343a40;*/
}
.profile-container {
     position: relative;
     margin-top: 10em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 12px;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 1000px;
     background-color: rgb(52 58 64 / 60%);
}
.profile-card{
     background-image:linear-gradient(-90deg, #ebd295, #a99e17, #506100, #283a1e);
     border-radius: 12px;
     margin-left: auto;
     margin-right: auto;
     max-width: 600px;
}

/* FOOTER STYLES*/
footer {
     position: relative;
     bottom: 0;
     width: 100%;
}
.footer-text {
     background-color: rgb(84 91 98 / 80%);
     color: white;
     font-size: 1.4em;
     font-weight: bold;
}


/*OTHER / UNDER CONSTRUCTION*/


td, th {
     padding: 3px 8px;
}
/*Forms color (login, register, add...*/
form.main-form {
     background-image:linear-gradient(-90deg, #ebd295, #a99e17, #506100, #283a1e);
     padding:10px 30px;
     border-radius: 20px;
     box-shadow: 0 4px 16px #567a29;

}












