<!DOCTYPE html>
<html lang="en" class="all-tractors">

<head th:replace="~{fragments/commons::head}"></head>
<body class="all-tractors">

<div th:replace="~{fragments/navbar::navbar(activeLink=${'all-tractors'})}"></div>

<div class="container all-tractors-container">
    <h2 class="text-center text-light mt-5">There's a list with all your machines:</h2>
    <div class="row mx-auto d-flex flex-wrap justify-content-center">
        <div th:if="${#lists.isEmpty(allTractors)}" class="col-6 alert alert-danger" role="alert">
            <p class="text-center text-danger">Currently you have no added machines! Please ask an administrator for further assistance.</p>
        </div>
        <div th:each="tractor : ${allTractors}" th:object="${tractor}" class="card col-sm-6 col-md-4 col-lg-3 m-3 p-0">
            <img class="card-img-top" th:src="@{${tractor.imageUrl}}" alt="Tractor image">
            <div class="card-body">
                <h5 class="card-title text-dark" th:text="*{manufacturer}">Manufacturer name</h5>
                <h6 class="card-subtitle mb-2 text-dark" th:text="*{model}">Model name</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item-dark text-white">
                    <div class="card-text">• Year: <span th:text="*{year}">Year</span></div>
                    <div class="card-text">• Engine type: <span th:text="*{engineType}"></span></div>
                    <div class="card-text">• Transmission type: <span th:text="*{transmissionType}"></span></div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" th:href="@{/tractors/details/{id}(id=*{id})}">More details</a>
            </div>
        </div>
    </div>
</div>

<div>
    <footer th:replace="~{fragments/commons::footer}"></footer>
</div>

</body>
</html>
