<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head}"></head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'details'})}"></div>


<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div
            th:object="${tractorDetails}"
            class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0 bg-secondary text-white">

            <div class="card-body pb-1">
                <h5 class="card-title">Details of your machine:</h5>
            </div>
            <ul class="offer-details list-group list-group-flush text-white">
                <li class="list-group-item bg-success">
                    <div class="card-text text-left">• Manufacturer: <span th:text="*{manufacturer}">Manufacturer</span></div>
                    <div class="card-text text-left">• Model: <span th:text="*{model}">Model</span></div>
                    <div class="card-text text-left">• Year: <span th:text="*{year}">Year</span></div>
                    <div class="card-text text-left">• Description: <span th:text="*{description}">Description</span></div>
                    <div class="card-text text-left">• Work hours: <span th:text="*{workHours}">Work hours</span></div>
<!--                    <div class="card-text text-left">• Image URL: <span th:text="*{imageUrl}">Image URL</span></div>-->
                    <div class="card-text text-left">• Engine type: <span th:text="*{engineType}">Engine type</span></div>
                    <div class="card-text text-left">• Transmission type: <span th:text="*{transmissionType}">Transmission type</span></div>

<!--                    <div class="card-text">• Price <span id="price" th:text="*{price}">Price</span></div>-->
<!--                    <div class="card-text">• Currency-->
<!--                            <select id="currency">-->
<!--                                <option-->
<!--                                        th:each="currency : *{allCurrencies}"-->
<!--                                        th:value="${currency}"-->
<!--                                        th:selected="${currency} == 'BGN'"-->
<!--                                        th:text="${currency}"-->
<!--                                >-->

<!--                                </option>-->
<!--                            </select>-->
<!--                    </div>-->
                </li>
            </ul>
<!--            <input type="hidden" id="priceInBGN" th:value="*{price}">-->
            <div class="card-body">
                <a class="card-link" href="/">Update</a>
                <form th:method="delete"
                      th:action="@{/offers/{id}(id=*{id})}">
                    <input class="btn btn-link" type="submit" value="Delete"/>
                </form>

            </div>
        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="@{${tractorDetails.imageUrl}}" class="card-img-top" alt="Tractor image">
        </div>
    </div>
    <div>
        <footer th:replace="~{fragments/commons::footer}"></footer>
    </div>
</div>

<!--<script th:src="@{/js/currency.js}"></script>-->

</body>
</html>
