<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="index">

<head th:replace="~{fragments/commons::head}"></head>

<body class="index">

<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>

<div class="container-fluid">

    <h1 class="text-center text-white mt-5"><th:block th:text="#{welcome_message_index}"></th:block>!</h1>
    <hr class="my-3 bg-white w-75">
    <!--    If user isn't logged in-->
    <p class="h4" sec:authorize="!isAuthenticated()" th:text="#{not_authenticated_msg}"></p>
    <!--    If user is logged in-->

    <p class="h4" sec:authorize="isAuthenticated()" th:text="#{authenticated_msg}"></p>
    <hr class="my-3 bg-white w-100"/>

    <h3 sec:authorize="!isAuthenticated()">
        <a class="primary-text"  th:href="@{/users/login}" th:text="#{login_text_index}"></a>
        <p th:text="#{call_to_action_after_login}"></p>
        <a class="primary-text" th:href="@{/users/register}" th:text="#{register_text_index}"></a>
        <p th:text="#{call_to_action_after_register}"></p>
    <hr class="my-3 bg-white w-100"/>
    </h3>
    <p class="h4" th:text="#{warning_app_under_construction}"></p>
    <p class="h4" th:text="#{warning_app_under_construction_report_bug}"></p>

</div>
</body>
    <footer th:replace="~{fragments/commons::footer}"></footer>
</html>
