<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <form class="welcome login"
          th:action="@{/users/login}"
          th:method="POST">

        <div class="form-group">
            <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Login</span></h1>
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="username" class="h3 mb-2">Username</label>
            </div>
            <input type="text" class="form-control" id="username" name="username"/>

            <div class="danger">Error messages</div>
        </div>
        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="password" class="h3 mb-2">Password</label>
            </div>
            <input type="password" class="form-control" id="password" name="password">

            <div class="danger">Incorrect username or password!</div>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Login</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
