<!DOCTYPE html>
<html lang="en" class="login">
<head th:replace="~{fragments/commons::head}"></head>

<body class="login">

<div th:replace="~{fragments/navbar::navbar(activeLink=${'login'})}"></div>

<div class="container login-container">
    <h2 class="text-center text-white" th:text="#{login_text}">Login</h2>
    <form th:method="POST"
          th:action="@{/users/login}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="form-group">
            <label for="email" class="text-white font-weight-bold" th:text="#{email_text}">E-Mail</label>
            <input id="email"
                   name="email"
                   type="text"
                   class="form-control"
                   th:placeholder="#{enter_email_text}"/>
        </div>
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold" th:text="#{password_text}">Password</label>
            <input id="password"
                   name="password"
                   type="password"
                   class="form-control"
                   th:placeholder="#{enter_password_text}"/>
        </div>

        <div th:if="${showErrorMessage}" class="errors alert alert-danger" th:text="#{login_error}">Invalid E-Mail or password!</div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-success btn-lg" th:value="#{login_text}"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="~{fragments/commons::footer}"></footer>
</div>
</body>
</html>
